<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.python.pydev.debug.regularLaunchConfigurationType">
<stringAttribute key="bad_container_name" value="\cz.cuni.mff.d3s.jdeeco.simulation.demo\run-"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/cz.cuni.mff.d3s.jdeeco.simulation.demo/simulation-results/times.py"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_LOCATION" value="${workspace_loc:cz.cuni.mff.d3s.jdeeco.simulation.demo/simulation-results/times.py}"/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_OTHER_WORKING_DIRECTORY" value="${workspace_loc:cz.cuni.mff.d3s.jdeeco.simulation.demo/simulation-results}"/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_TOOL_ARGUMENTS" value="-f &quot;20/20-bc.log&quot; -r &quot;20/results-times-bc.txt&quot; -c &quot;../configurations/20/component20.cfg&quot;"/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_WORKING_DIRECTORY" value="${workspace_loc:cz.cuni.mff.d3s.jdeeco.simulation.demo/simulation-results}"/>
<stringAttribute key="org.python.pydev.debug.ATTR_INTERPRETER" value="__default"/>
<stringAttribute key="org.python.pydev.debug.ATTR_PROJECT" value="cz.cuni.mff.d3s.jdeeco.simulation.demo"/>
<intAttribute key="org.python.pydev.debug.ATTR_RESOURCE_TYPE" value="1"/>
</launchConfiguration>
