/jdeeco-core/bin
/jdeeco-core/target
/jdeeco-core/doc
/jdeeco-core/.settings

/jdeeco-parent/bin
/jdeeco-parent/target
/jdeeco-parent/doc
/jdeeco-parent/.settings

/jdeeco-demo/bin
/jdeeco-demo/target
/jdeeco-demo/doc
/jdeeco-demo/.settings

/jdeeco-architecture/bin
/jdeeco-architecture/target
/jdeeco-architecture/doc
/jdeeco-architecture/.settings

/jdeeco-concepts/bin
/jdeeco-concepts/target
/jdeeco-concepts/doc
/jdeeco-concepts/.settings

/jdeeco-core-osgi/bin
/jdeeco-core-osgi/target
/jdeeco-core-osgi/doc
/jdeeco-core-osgi/.settings

/jdeeco-simulation/bin
/jdeeco-simulation/target
/jdeeco-simulation/doc
/jdeeco-simulation/.settings

/jdeeco-simulation-demo/bin
/jdeeco-simulation-demo/target
/jdeeco-simulation-demo/doc
/jdeeco-simulation-demo/.settings
/jdeeco-simulation-demo/results

/jdeeco-jpf/bin
/jdeeco-jpf/target
/jdeeco-jpf/doc
/jdeeco-jpf/.settings

/jdeeco-sde/bin
/jdeeco-sde/target
/jdeeco-sde/doc
/jdeeco-sde/.settings

/jdeeco-core-model/target

/dist
/target
/jdeeco-core/test-output
/jdeeco-core/test-temp
/bin
doc.zip
*.ispace

jdeeco-core/.pmd
/jdeeco-demo
