
/jdeeco-core/bin
/jdeeco-core/target
/jdeeco-core/doc
/jdeeco-core/.settings
/jdeeco-demo/bin
/jdeeco-demo/target
/jdeeco-demo/doc
/jdeeco-demo/.settings
/jdeeco-sde/bin
/jdeeco-sde/target
/jdeeco-sde/doc
/jdeeco-sde/.settings
/jdeeco-parent/bin
/jdeeco-parent/target
/jdeeco-parent/doc
/jdeeco-parent/.settings
/jdeeco-jpf/bin
/jdeeco-jpf/target
/jdeeco-jpf/doc
/jdeeco-jpf/.settings
/jdeeco-core-feature/bin
/jdeeco-core-feature/target
/jdeeco-core-feature/doc
/jdeeco-core-feature/.settings
/jdeeco-libs-feature/bin
/jdeeco-libs-feature/target
/jdeeco-libs-feature/doc
/jdeeco-libs-feature/.settings
/jdeeco-p2/bin
/jdeeco-p2/target
/jdeeco-p2/doc
/jdeeco-p2/.settings

/dist
/target
/jdeeco-core/test-output
/bin
doc.zip

