/jdeeco-core/bin
/jdeeco-core/target
/jdeeco-core/doc
/jdeeco-core/.settings
/jdeeco-parent/bin
/jdeeco-parent/target
/jdeeco-parent/doc
/jdeeco-parent/.settings

/jdeeco-demo/bin
/jdeeco-demo/target
/jdeeco-demo/doc
/jdeeco-demo/.settings
/jdeeco-jpf/bin
/jdeeco-jpf/target
/jdeeco-jpf/doc
/jdeeco-jpf/.settings
/jdeeco-sde/bin
/jdeeco-sde/target
/jdeeco-sde/doc
/jdeeco-sde/.settings
/jdeeco-core-model/target

/dist
/target
/jdeeco-core/test-output
/jdeeco-core/test-temp
/bin
doc.zip
*.ispace

jdeeco-core/.pmd
