import net.jini.core.entry.Entry;
import net.jini.lookup.entry.Name;
import net.jini.lookup.entry.Comment;

com.sun.jini.outrigger{

	name = "Java Space (Outrigger)";
	
	initialLookupAttributes=new Entry[]{	new Name(name)};
	
	initialLookupGroups=new String []{"cz.cuni.mff.d3s.deeco.lookupGroup"};

	serverExporter= new net.jini.jrmp.JrmpExporter();
	
}

