grant {
    permission java.security.AllPermission;
	permission java.net.SocketPermission "localhost:1024-", "accept,connect,listen,resolve";
	permission java.net.SocketPermission "127.0.1.1:1024-", "accept,connect,listen,resolve";
};
