<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated edl -->
      <package
            uri="http://www.cuni.cz/mff/d3s/jdeeco/edl/EDL"
            class="cz.cuni.mff.d3s.jdeeco.edl.model.edl.EdlPackage"
            genModel="model/edl.genmodel"/>
   </extension>

</plugin>
