<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://runtimemetadata/1.0"
            class="runtimemetadata.RuntimemetadataPackage"
            genModel="model/runtime.genmodel"/>
   </extension>

</plugin>
