<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>				
	<extension 
	point="eu.sensoria_ist.casetool.core.tool">
	<tool 
		id="cz.cuni.mff.d3s.deeco.sde.manager.IJDEECoSDETool" 
		name="JDEECo runtime manager tool" 
		description="The tool controls the JDEECo runtime" 
		class="cz.cuni.mff.d3s.deeco.sde.manager.JDEECoSDETool">
		<category 
			name="JDEECo">
		</category>
		<function 
			name="start" 
			returns="java.lang.String" 
			returnsDescription="Returns confirmation message" 
			description="Starts JDEECo runtime">
		</function>
		<function 
			name="stop" 
			returns="java.lang.String" 
			returnsDescription="Returns confirmation message" 
			description="Stops JDEECo runtime">
		</function>
		<function 
			name="getComponentInfo" 
			returns="java.lang.String" 
			returnsDescription="String containing the component information" 
			description="Prints all information regarding the specified component">
			<parameter 
				name="componentId" 
				description="Component ID" 
				type="java.lang.String">
			</parameter>
		</function>
		<function 
			name="listAllComponents" 
			returns="java.lang.String" 
			returnsDescription="String containing information about all components in the system" 
			description="Prints all information about components in the system">
		</function>
		<function 
			name="listAllEnsembles" 
			returns="java.lang.String" 
			returnsDescription="String containing information about all ensembles in the system" 
			description="Prints all information about all ensembles in the system">
		</function>
		<function 
			name="listAllKnowledge" 
			returns="java.lang.String" 
			returnsDescription="Returns list of all registered DEECo component knowledges" 
			description="Lists all DEECo component knowledges currently available in the runtime">
		</function>
		<function 
			name="getRuntimeInfo" 
			returns="java.lang.String" 
			returnsDescription="Returns Runtime information" 
			description="Prints information about JDEECo runtime environment">
		</function>
		<function 
			name="packageToOSGiBundle" 
			returns="java.lang.String" 
			returnsDescription="Returns textual feedback on execution result" 
			description="Creates JDEECo and OSGi compliant bundle with use of wizard">
		</function>
		<function 
			name="addDefinitions" 
			returns="java.lang.String" 
			returnsDescription="Returns textual feedback on execution result" 
			description="Adds component and ensemble definitions">
			<parameter 
				name="path" 
				description="Path to a JAR file or root directory with properly packeged class files" 
				type="java.lang.String">
			</parameter>
		</function>
	</tool>
</extension>
</plugin>