<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="target" sequenceNumber="13">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="cz.cuni.mff.d3s.jdeeco.core-feature.feature.group" version="0.0.1"/>
<unit id="cz.cuni.mff.d3s.jdeeco.libs-feature.feature.group" version="0.0.1"/>
<repository location="http://github.com/d3scomp/p2-update/raw/master/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="eu.sensoria_ist.casetool.deploy.feature.core.feature.group" version="4.4.4.201212142034"/>
<repository location="http://svn.pst.ifi.lmu.de/update/sde"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.rcp.sdk.id" version="4.2.1.M20120914-1800"/>
<repository location="http://download.eclipse.org/releases/juno"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.jdt.jeview.feature.feature.group" version="1.0.8.201210112025"/>
<repository location="http://www.eclipse.org/jdt/ui/update-site"/>
</location>
</locations>
</target>
