<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated RuntimeModel1 -->
      <package
            uri="http://cz.cuni.mff.d3s.deeco.model.runtime/1.0"
            class="cz.cuni.mff.d3s.deeco.model.runtime.api.RuntimePackage"
            genModel="model/RuntimeModel1.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated RuntimeModel -->
      <package
            uri="http://cz.cuni.mff.d3s.deeco.model.runtime/1.0"
            class="cz.cuni.mff.d3s.deeco.model.runtime.meta.RuntimeMetadataPackage"
            genModel="model/RuntimeModel.genmodel"/>
   </extension>

</plugin>
